// 青底白字→黑底白字
.buttonCustomA {
    color: white;
    background-color: #40CBCE;
    border: 1px solid #40CBCE;
    border-radius: 100px;
    padding: 8px 23px;
    font-weight: bold;
    transition: all 0.3s ease;

    &:hover {
        color: white;
        background-color: black;
        border: 1px solid black;
    }
}


// 黑底白字→白底黑字
.buttonCustomB {
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 100px;
    padding: 8px 23px;
    font-weight: bold;
    transition: all 0.3s ease;

    &:hover {
        color: black;
        background-color: white;
        border: 1px solid black;
    }
}