// 青底白字→黑底白字
.buttonCustomA {
    color: white;
    background-color: #40CBCE;
    border: 1px solid #40CBCE;
    border-radius: 100px;
    padding: 8px 23px;
    font-weight: bold;
    transition: all 0.3s ease;

    &:hover {
        color: white;
        background-color: black;
        border: 1px solid black;
    }
}


// 黑底白字→白底黑字
.buttonCustomB {
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 100px;
    padding: 8px 23px;
    font-weight: bold;
    transition: all 0.3s ease;

    &:hover {
        color: black;
        background-color: white;
        border: 1px solid black;
    }
}


// 青底白字
.buttonCustomC {
    color: white;
    background-color: #40CBCE;
    border: 1px solid #40CBCE;
    border-radius: 100px;
    padding: 8px 23px;
    font-weight: bold;
    transition: all 0.3s ease;

    &:hover {
        color: white;
        background-color: #36a5a5;
        border: 1px solid #36a5a5;
    }
}

// btn-custom 樣式
.btn-custom {
    background-color: #40CBCE;
    color: white;
    
    &:hover,
    &:focus {
      background-color: #36a5a5;
      color: white;
    }
    
    &:active {
      background-color: #36a5a5 !important;
      color: white !important;
    }
  }
  
  // btn-outline-custom 樣式
  .btn-outline-custom {
    color: #40CBCE;
    border-color: #40CBCE;
    background-color: transparent;
  
    &:hover,
    &:focus {
      color: white;
      background-color: #40CBCE;
      border-color: #40CBCE;
    }
  
    &:active {
      color: white !important;
      background-color: #40CBCE !important;
      border-color: #40CBCE !important;
    }
  }