.pcDNone {
    display: none;
}
@media (max-width: 393px) {
    .pcDNone {
        display: block;
    }
}
.stepBar{
    padding: 5rem 3rem 5rem 3rem;
}

.step{
    display: flex;
    max-width: 350px;
    opacity: 0.5;
    gap: 10px;
}

.stepBox {
    background: rgb(45, 172, 174);
    display: flex;
    width: 100px;
    height: 100px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    
}
.nowStep {
    opacity: 1;
}
@media (max-width: 393px) {
    .nowStep{
        display: flex;
    }
}
.stepNum{
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 50px;
    padding-right: 3px;
    text-align: center;
}

.stepWord {
    display: flex;
    flex-direction: column;
    margin-block: auto;
    margin-left: 12px;
    color: #030303;
}

.stepline {
    height: 1px;
    width: 147px;
    background-color: #000;
    margin-block: 10px;
}