.main {
    width: 100%;
}


.wrap {
    max-width: 1920px;
    height: 90vh;
    margin: auto;
    display: flex;
    background: url("../../public/images/login-bg.jpg") no-repeat center center;
    background-size: 100% 100%;
    margin-bottom: 40px;
}

.space {
    width: 800px;
}

.resgiter {
    max-width: 450px;
    height: 750px;
    margin-block: auto;
    margin-inline: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
    background: rgba(137, 134, 134, 0.741);
    border: 2px solid #40CBCE;
    padding-top: 10px;
}

.title{
    width: 200px;
    border-bottom: 2px solid black;
    margin-inline: auto;
    text-align: center;
    margin-block: 20px;
    font-size: 36px;
    font-weight: 600;
    text-shadow: 1px 1px 3px #40CBCE;
  }

.top {
    margin: 0px auto;
    width: 450px;
    padding-bottom: 10px;
}

.line {
    margin-inline: auto;
    width: 80%;
    border-top: 1px solid black;
}


.inputGroup {
    /* display: block; */
    width: 75%;
    height: 50px;
    background: #D9D9D9;
    border: 2px solid #40CBCE;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    margin: 10px auto;
    outline: none;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 3px 3px 5px gray;
}

.btnResgiter {
    display: block;
    background: #40CBCE;
    color: white;
    width: 75%;
    height: 55px;
    border-radius: 5px;
    margin: 25px auto 15px;
    border: 0px;
    font-size: 30px;
    box-shadow: 3px 3px 5px gray;
    font-weight: 1000;

    &:hover {
        box-shadow: 5px 5px 5px black;
        text-shadow: 2px 2px 2px black;
    }
}

.bottom {
    display: flex;
    margin: 30px 0px 0px 120px;
    font-size: 14px;
    font-weight: 600;

}

.btnLogin {
    width: 80px;
    background: #40CBCE;
    color: white;
    margin: -5px 5px;
    border-radius: 3px;
    text-align: center;
    border: 0px;
    font-size: 16px;
    font-weight: 600;

    &:hover {
        box-shadow: 3px 3px 3px black;
        text-shadow: 2px 2px 2px black;
    }
}

.box {
    width: 100%;
    height: 20px;
    margin-bottom: 15px;
}

.message {
    display: block;
    color: red;
    font-weight: 700;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    font-size: 20px;
}

.icon{
    color: #40CBCE;
    margin-inline: 12px;
    font-size: 35px;
  }
  .inputGroup::placeholder {
    color: white;
    font-weight: 700;
  }



@media(max-width: 992px) {
    .main {
        width: 100%;
    }

    .breadcrumb {
        width: 100%;
        height: 120px;
    }

    .wrap {
        max-width: 992px;
        height: 700px;
        margin: auto;
        /* background: url("./login-pic.png") no-repeat; */
        margin-bottom: 40px;

    }

    .space {
        width: 0;
        height: 100px;

    }

    .resgiter {
        max-width: 576px;
        height: 660px;
        margin-block: auto;
        margin-inline: auto;
        border-radius: 20px;
        box-shadow: -10px 10px 5px gray;
        background: rgba(137, 134, 134, 0.741);
    }

    .top {
        margin: 0px auto;
        padding-bottom: 10px;

    }


    .inputGroup {
        /* display: block; */
        width: 75%;
        height: 35px;
        background: #D9D9D9;
        border: 2px solid #40CBCE;
        background: rgba(255, 255, 255, 0.6);
        border-radius: 5px;
        margin: 10px auto;
        outline: none;
        padding-left: 20px;
        font-size: 20px;
        font-weight: 700;
        box-shadow: 3px 3px 5px gray;
    }

    .btnResgiter {
        display: block;
        background: #40CBCE;
        color: white;
        width: 75%;
        height: 55px;
        border-radius: 5px;
        margin: 20px auto;
        border: 0px;
        font-size: 24px;
        box-shadow: 3px 3px 5px gray;
    }

    .bottom {
        display: flex;
        margin: 30px 0px 0px 140px;

    }



    .btnLogin {
        width: 80px;
        background: #40CBCE;
        color: white;
        border-radius: 3px;
        text-align: center;
        font-size: 14px;
    }
    .title{
        width: 200px;
        border-bottom: 2px solid black;
        margin-inline: auto;
        text-align: center;
        margin-block: 15px;
        font-size: 36px;
        font-weight: 600;
        text-shadow: 1px 1px 3px #40CBCE;
      }

}