.main {
    width: 100%;
}


.wrap {
    max-width: 1440px;
    height: 90vh;
    margin: auto;
    display: flex;
    /* background: url("./login-pic.png") no-repeat; */
    background-size: 100% 100%;
    margin-bottom: 40px;

}

.space {
    width: 1100px;

}

.resgiter {
    max-width: 500px;
    height: 700px;
    margin-block: auto;
    margin-inline: auto;
    border-radius: 20px;
    box-shadow: -10px 10px 5px gray;
    background: white;
    border: 1px solid #40CBCE;
    padding-top: 10px;
}

.top {
    margin: 0px auto;
    width: 450px;
}

.line {
    margin-inline: auto;
    width: 80%;
    border-top: 1px solid black;
}


.inputGroup {
    /* display: block; */
    width: 75%;
    height: 50px;
    background: #D9D9D9;
    border: 1px solid #40CBCE;
    background: white;
    border-radius: 5px;
    margin: 15px auto;
    outline: none;
    padding-left: 20px;
    font-size: 20px;
    box-shadow: 3px 3px 5px gray;
}

.btnResgiter {
    display: block;
    background: #40CBCE;
    color: white;
    width: 75%;
    height: 55px;
    border-radius: 5px;
    margin: 25px auto 15px;
    border: 0px;
    font-size: 30px;
    box-shadow: 3px 3px 5px gray;
    font-weight: 1000;

    &:hover {
        box-shadow: 5px 5px 5px black;
        text-shadow: 2px 2px 2px black;
    }
}

.bottom {
    display: flex;
    margin: 30px 0px 0px 120px;
    font-size: 16px;
    font-weight: 600;

}

.btnLogin {
    width: 100px;
    background: #40CBCE;
    color: white;
    margin-inline-start: 3px;
    border-radius: 3px;
    text-align: center;
    border: 0px;
    font-size: 16px;
    font-weight: 600;

    &:hover {
        box-shadow: 3px 3px 3px black;
        text-shadow: 2px 2px 2px black;
    }
}

.box {
    width: 100%;
    height: 20px;
    margin-bottom: 15px;
}

.message {
    display: block;
    color: red;
    text-align: center;
}

.icon{
    color: #40CBCE;
    margin-inline: 12px;
    font-size: 35px;
  }




@media(max-width: 992px) {
    .main {
        width: 100%;
    }

    .breadcrumb {
        width: 100%;
        height: 120px;
    }

    .wrap {
        max-width: 992px;
        height: 700px;
        margin: auto;
        /* background: url("./login-pic.png") no-repeat; */
        margin-bottom: 40px;

    }

    .space {
        width: 0;
        height: 100px;

    }

    .resgiter {
        max-width: 576px;
        height: 650px;
        margin-block: auto;
        margin-inline: auto;
        border-radius: 20px;
        box-shadow: -10px 10px 5px gray;
        background: white;

    }

    .top {
        margin: 0px auto;

    }


    .inputGroup {
        display: block;
        width: 85%;
        height: 40px;
        background: #D9D9D9;
        border: 0px;
        border-radius: 5px;
        margin: 30px auto;
        outline: none;
        padding-left: 20px;
        font-size: 14px;
        box-shadow: 3px 3px 5px gray;
    }

    .btnResgiter {
        display: block;
        background: black;
        color: white;
        width: 85%;
        height: 55px;
        border-radius: 5px;
        margin: 20px auto;
        border: 0px;
        font-size: 24px;
        box-shadow: 3px 3px 5px gray;
    }

    .bottom {
        display: flex;
        margin: 30px 0px 0px 140px;


    }



    .btnLogin {
        width: 100px;
        background: #40CBCE;
        color: white;
        border-radius: 3px;
        text-align: center;
        font-size: 14px;
    }

}