/* components/HangingButton.module.css */
.hangingButton {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #40CBCE;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.5s ease, box-shadow 0.2s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  .hangingButton.pressed {
    transform-origin: top left; /* 設定旋轉點為上方中央 */
    animation: swingDown 1.5s ease forwards;
  }
  
  /* 模擬「垂掛晃動」的動畫 */
  @keyframes swingDown {
    0% {
      transform: rotate(0deg);
    }
    20% {
      transform: rotate(135deg); /* 向右旋轉 */
    }
    50% {
      transform: rotate(60deg); /* 向左旋轉 */
    }
    65% {
      transform: rotate(70deg); /* 向右旋轉 */
    }
    75%{
      transform: rotate(75deg); /* 向左旋轉 */
    }
    85%{
      transform: rotate(73deg); /* 向右旋轉 */
    }
    100% {
      transform: rotate(75deg); /* 輕微向右旋轉，保持晃動 */
    }
  }


  