@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.main-container {
	font-family: 'Lato';
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.ck-content {
	font-family: 'Lato';
	line-height: 1.6;
	word-break: break-word;
}

/* .ck-editor__main {
	min-width: 795px;
	max-width: 795px;
    min-height: 5vh;
} */

.editorContainer {
	min-width: 795px;
	max-width: 100%;
    min-height: 5vh;
}
  
  
  .editorContainer :global(.ck-editor__editable) {
	height: 650px !important;
  }